.header {
    margin-bottom: 30px;
    h1 {
        line-height: 30px;
        font-size: 30px;
        color: #fff;
        font-weight: 500;
    }
    .close {
        display: none;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .close {
            position: fixed;
            top: 100px;
            right: 20px;
            width: 18px;
            height: 18px;
            cursor: pointer;
            display: inline-block;
        }
    }
}
