.addCity {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 45px;
    cursor: pointer;
}

.error {
}

.form {
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateY(0px);
    will-change: transform;

    .showInput {
        transform: translateY(-90px);
    }

    .innerForm {
        position: relative;
        border-radius: 40px;
        transition: 0.5s;
        will-change: transform;

        .inputWrapper {
            input {
                background-color: #31b2ff;
                border: none;
                height: 43px;
                outline: none;
                padding-left: 30px;
                border-radius: 40px;
                width: 100%;
                font-size: 16px;
                color: #1b4d98;
                box-sizing: border-box;
                line-height: normal;
                &::placeholder {
                    color: #1b4d98;
                    opacity: 0.7;
                }
            }

            button {
                cursor: pointer;
                z-index: 10;
                outline: none;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                color: #fff;
                position: absolute;
                right: 0px;
                width: 88px;
                border: none;
                background-color: rgb(3, 119, 209);
                height: 43px;
                border-radius: 40px;
                transition: 0.5s;
                &:hover {
                    background-color: #1b4d98;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .form {
        padding-right: 0;
        .innerForm {
            input {
                padding: 0 20px;
            }
        }
    }
}
